.home-headcount {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0vw;
    width: 95%;
    margin-left: 4%;
    position: relative;
    z-index: 0;
    flex-direction: column;
}

.home-headcount-div {
    width: 40vw; /* Responsivo: ajusta conforme a largura da tela */
    max-width: 40vw; /* Limite máximo */
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home-headcount-div {
    flex: 1 1 45%; /* Ajuste a largura do gráfico para ocupar até 45% da tela */
    max-width: 900px; /* Limite máximo para gráficos */
    min-width: 300px; /* Limite mínimo para telas pequenas */
}

.home-headcount-div p{
    margin-left: 10px;
    font-family: Suisse Intl, Open Sans, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #003369;
    text-align: left;
    font-size: 1.5vw; /* Fonte responsiva baseada na largura da viewport */
}


.home-headcount-pagename {
    display: flex;
    background-color: rgb(247, 247, 247);
    height: 8vw;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.home-headcount-pagename p {
    margin-left: 10px;
    font-family: Suisse Intl, Open Sans, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #003369;
    font-size: 3vw; /* Fonte responsiva baseada na largura da viewport */
}

.home-headcount-chart {
    width: 100%; /* Preenche a largura disponível */
    max-width: 900px; /* Limite máximo */
}

.headcount {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 250px;
}


/* Media Queries para telas menores */
@media (max-width: 1024px) {
    .home-headcount-div {
        margin-left: 1%;
        width: 90vw;
    }

    .home-headcount-pagename p {
        font-size: 4vw; /* Aumentar a fonte em telas menores */
    }

   .home-headcount-div p{
    font-size: 2vw; /* Aumentar a fonte em telas menores */
   }
}

/* Media Queries para telas menores */
@media (max-width: 732px) {
    .home-headcount-div {
        margin-left: 1%;
        width: 90vw;
    }

    .home-headcount-pagename p {
        font-size: 4vw; /* Aumentar a fonte em telas menores */
    }

   .home-headcount-div p{
    font-size: 2vw; /* Aumentar a fonte em telas menores */
   }
}

@media (max-width: 640px) {
    .home-headcount-div {
        margin-left: 0;
        width: 100vw; /* Ocupa toda a largura da tela */
    }

    .home-headcount-pagename p {
        font-size: 6vw; /* Aumentar a fonte em telas menores */
    }

   .home-headcount-div p{
    font-size: 4vw; /* Aumentar a fonte em telas menores */
   }
}

@media (max-width: 300px) {
    .home-headcount-div {
        margin-left: 0;
        width: 100vw; /* Ocupa toda a largura da tela */
    }

    .home-headcount-pagename p {
        font-size: 5vw; /* Aumentar a fonte em telas menores */
    }

   .home-headcount-div p{
    font-size: 3vw; /* Aumentar a fonte em telas menores */
   }
}
