/* NavBar.css */

.navbar {
    background-color: #003369; /* Cor de fundo */
    padding: 0.5rem; /* Espaçamento interno */
    display: flex; /* Exibe os itens em linha */
    justify-content: space-between; /* Espaça os itens ao máximo */
    align-items: center; /* Alinha verticalmente no centro */
}

.navbar-div {
    display: flex;
    flex-direction: row;
}

.navbar-link {
    background-color: #003369; /* Cor de fundo */
    padding: 0.5rem; /* Espaçamento interno */
    display: flex; /* Exibe os itens em linha */
    justify-content: space-between; /* Espaça os itens ao máximo */
    align-items: center; /* Alinha verticalmente no centro */  
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

.navbar-link:hover {
    color: #ddd; /* Cor do texto ao passar o mouse */
}

.navbar-link.active {
    background-color: #0099da; /* Cor de fundo */
    padding: 0.5rem; /* Espaçamento interno */
    display: flex; /* Exibe os itens em linha */
    justify-content: space-between; /* Espaça os itens ao máximo */
    align-items: center; /* Alinha verticalmente no centro */  
    color: #fff;
    text-decoration: none;
}

.navbar-button {
    background-color: #003369; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Mostra o cursor de ponteiro ao passar o mouse */
    margin-right: 10px;
}

.navbar-button:hover {
    background-color: #0099da; /* Cor ao passar o mouse */
}

.navbar-logo-kn {
    width: 170px;
    object-fit: contain;
    margin: 0px;
  }

.user-icon {
    width: 20px;
    object-fit: contain;
    margin: 0px; 
}

.dropdown-box {
    position: absolute;
    top: 54px; /* Desce o box a partir da posição do botão */
    right: 70px;
    background-color: #e5ebf0;
    color: #333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 300px;
    z-index: 1000; /* Para garantir que esteja à frente de outros elementos */
    padding: 0px;
  }

  .dropdown-box ul {
    padding: 0px;
    height: 200px;
}

.dropdown-box button {
    font-family: Suisse Intl, Open Sans, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #003369;
    border: 0px;
    font-size: 20px;
    background-color: #e5ebf0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.dropdown-box button:hover {
    font-family: Suisse Intl, Open Sans, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #003369;
    border: 0px;
    font-size: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.dropdown-box p{
    font-family: Suisse Intl, Open Sans, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #003369;
    border: 0px;
    font-size: 20px;
    background-color: #e5ebf0;
    display: flex;
    justify-content: center;
    align-items: center; 
}
