/* sidebar.css */

.sidebar {
    background-color: #e5ebf0; /* Cor de fundo */
    padding: 0.5rem; /* Espaçamento interno */
    display: flex; /* Exibe os itens em coluna */
    flex-direction: column; /* Alinha os itens em coluna */
    position: fixed; /* Fixa o sidebar na tela */
    height: 100%; /* Altura total da tela */
    width: 4%; /* Largura padrão */
    transition: width 0.3s ease, box-shadow 0.3s ease; /* Animação suave */
    box-shadow: none; /* Sem sombra inicialmente */
    z-index: 2; /* Para garantir que esteja acima de outros elementos */
}

.sidebar.expanded {
    width: 150px; /* Largura quando expandida */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Sombra externa */
}

.sidebar-div {
    justify-content: space-between; /* Espaça os itens ao máximo */
}

.sidebar-link {
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */
    margin-right: 1rem; /* Espaçamento entre links */
    font-size: 1.2rem; /* Tamanho da fonte */
}

.sidebar-link:hover {
    color: #ddd; /* Cor do texto ao passar o mouse */
}

.sidebar-link.active {
    background-color: #0099da; /* Cor de fundo */
    padding: 0.5rem; /* Espaçamento interno */
    display: column; /* Exibe os itens em linha */
    justify-content: space-between; /* Espaça os itens ao máximo */
    align-items: center; /* Alinha verticalmente no centro */  
    color: #fff;
}

.sidebar-button {
    background-color: #003369; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda */
    padding: 0.5rem 1rem; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Mostra o cursor de ponteiro ao passar o mouse */
}

.sidebar-button:hover {
    background-color: #0099da; /* Cor ao passar o mouse */
}

.sidebar-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-btn {
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
  }

  .toggle-btn p{
    border: none;
    font-weight: 600;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    color: #003369;
    text-align: left;
  }

  .toggle-btn.expanded {
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    transition: width 0.5s ease;
  }
  
  .toggle-btn:hover {
    background-color: #007bb5; /* Cor ao passar o mouse */
  }

  .sidebar-content {
    flex-grow: 0.8; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.sidebar-content img {
    width: 50px;
    height: 50px;
}