.home-dashboard{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.home-dashboard-div{
    margin-left: 100px;
    margin-top: 40px;
    width: 500px;
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home-dashboard-pagename{
    display: flex;
    background-color: rgb(247, 247, 247);
    height: 80px;
    align-items: center;
}

.home-dashboard-pagename p{
    margin-left: 10px;
    font-family: Suisse Intl, Open Sans, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #003369;
    font-size: 40px;
}
